:root
{
  --clr-neon: hsl(317 100% 54%);
  --clr-bg: hsl(195 100% 1%);
  --clr-green: hsl(119,100%,54%);
  --clr-red: hsl(350,100%,54%);
  --clr-blue: hsl(230,100%,50%);
}
body
{
  color: #B8DFD8;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
p{

  line-height: 2;
  color:#0F044C;
}
.top-cont
{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
  background-clip:padding-box;
}
h1
{
  color: #66BFBF;
  font-size: 5.625rem;
  margin:50px auto 0 auto;
  font-family: 'Sacramento', cursive;

}

h2
{
   color: #66BFBF;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}
h3
{
  color: #11999E;
  font-family: 'monteserrat',sans-serif;
}

.middle-cont
{
margin: 100px 0;
background-color:#71EFA3;
}
.bottom-cont
{
background: var(--clr-bg);
padding: 50px 0 20px;
}
.skill-row
{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.bottom-cloud
{
  position: absolute;
left: 300px;
bottom: 300px;

}

.top-cloud
{
position: absolute;
right: 300px;
top:50px;
}

.code-img
{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.cricket-img
{
  width: 25%;
  float: right;
  margin-left: 30px;
}

hr
{
  border-color:grey;
  border-style:none;
  border-top-style: dotted;
  border-width:5px;
  width:5%;
  margin: 100px auto;
}
.intro
{
  width: 30%;
  margin: auto;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999a);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999a);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999a);
  background-image: -o-linear-gradient(top, #11cdd4, #11999a);
  background-image: linear-gradient(to bottom, #11cdd4, #11999a);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 9px 13px 7px 9px;
  text-decoration: none;

}
.btn:hover {
  background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;

}

a
{


  margin: 10px 30px;
  text-decoration: none;
}
/*a:hover{

  color:#EAF6F6;
}
*/
.copy
{
  color: #EAF6F6;
  font-size: 0.75rem;
  margin-top: 80px;

}

.linkdi
{
color :var(--clr-neon);
cursor: pointer;
text-decoration: none;
border:currentcolor 0.125em solid;
padding: 0.25em 1em;
border-radius: 0.25em;
text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.2),0 0 0.45em currentcolor ;
box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
position: relative;
transition:background-color 100ms linear;
}

.linkdi::before
{
  pointer-events:none;
  content:'linkdin';

  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1,0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.linkdi::after
{
  content:'';
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  right:0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  transition: opacity 100ms linear;
}

.linkdi:hover::before,.linkdi:focus::before{
  opacity:1;
}
.linkdi:hover,.linkdi:focus
{
  background: var(--clr-neon);
  color:var(--clr-bg);
  text-shadow: none;

}

.linkdi:hover::after,.linkdi:focus::after{
  opacity:1;
}


.twitt
{
color :var(--clr-green);
cursor: pointer;
text-decoration: none;
border:currentcolor 0.125em solid;
padding: 0.25em 1em;
border-radius: 0.25em;
text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.2),0 0 0.45em currentcolor ;
box-shadow: inset 0 0 0.5em 0 var(--clr-green), 0 0 0.5em 0 var(--clr-green);
position: relative;
transition:background-color 100ms linear;
}

.twitt::before
{
  pointer-events:none;
  content:'twitter';

  position: absolute;
  background: var(--clr-green);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1,0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.twitt::after
{
  content:'';
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  right:0;
  box-shadow: 0 0 2em 0.5em var(--clr-green);
  opacity: 0;
  transition: opacity 100ms linear;
}

.twitt:hover::before,.twitt:focus::before{
  opacity:1;
}
.twitt:hover,.twitt:focus
{
  background: var(--clr-green);
  color:var(--clr-bg);
  text-shadow: none;

}

.twitt:hover::after,.twitt:focus::after{
  opacity:1;
}

.webi
{
color :var(--clr-red);
cursor: pointer;
text-decoration: none;
border:currentcolor 0.125em solid;
padding: 0.25em 1em;
border-radius: 0.25em;
text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.2),0 0 0.45em currentcolor ;
box-shadow: inset 0 0 0.5em 0 var(--clr-red), 0 0 0.5em 0 var(--clr-red);
position: relative;
transition:background-color 100ms linear;
}

.webi::before
{
  pointer-events:none;
  content:'Website';

  position: absolute;
  background: var(--clr-red);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1,0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.webi::after
{
  content:'';
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  right:0;
  box-shadow: 0 0 2em 0.5em var(--clr-red);
  opacity: 0;
  transition: opacity 100ms linear;
}

.webi:hover::before,.webi:focus::before{
  opacity:1;
}
.webi:hover,.webi:focus
{
  background: var(--clr-red);
  color:var(--clr-bg);
  text-shadow: none;

}

.webi:hover::after,.webi:focus::after{
  opacity:1;
}


.face
{
color :var(--clr-blue);
cursor: pointer;
text-decoration: none;
border:currentcolor 0.125em solid;
padding: 0.25em 1em;
border-radius: 0.25em;
text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.2),0 0 0.45em currentcolor ;
box-shadow: inset 0 0 0.5em 0 var(--clr-blue), 0 0 0.5em 0 var(--clr-blue);
position: relative;
transition:background-color 100ms linear;
}

.face::before
{
  pointer-events:none;
  content:'Facebook';

  position: absolute;
  background: var(--clr-blue);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1,0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.face::after
{
  content:'';
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  right:0;
  box-shadow: 0 0 2em 0.5em var(--clr-blue);
  opacity: 0;
  transition: opacity 100ms linear;
}

.face:hover::before,.face:focus::before{
  opacity:1;
}
.face:hover,.face:focus
{
  background: var(--clr-blue);
  color:var(--clr-bg);
  text-shadow: none;

}

.face:hover::after,.face:focus::after{
  opacity:1;
}
